WS_DRUG/Web References/WS_DRUGG/WS_DRUG.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="XML_SEARCH_DRUG_LCN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USERNAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PASSWORD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Newcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XML_SEARCH_DRUG_LCNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XML_SEARCH_DRUG_LCNResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XML_SEARCH_DRUG_PRODUCT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USERNAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PASSWORD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Newcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XML_SEARCH_DRUG_PRODUCTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XML_SEARCH_DRUG_PRODUCTResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XML_SEARCH_DRUG_PRODUCT_ALL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USERNAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PASSWORD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Newcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XML_SEARCH_DRUG_PRODUCT_ALLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XML_SEARCH_DRUG_PRODUCT_ALLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XML_GET_DRUG_ESUB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USERNAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PASSWORD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Newcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XML_GET_DRUG_ESUBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XML_GET_DRUG_ESUBResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="XML_SEARCH_DRUG_LCNSoapIn">
    <wsdl:part name="parameters" element="tns:XML_SEARCH_DRUG_LCN" />
  </wsdl:message>
  <wsdl:message name="XML_SEARCH_DRUG_LCNSoapOut">
    <wsdl:part name="parameters" element="tns:XML_SEARCH_DRUG_LCNResponse" />
  </wsdl:message>
  <wsdl:message name="XML_SEARCH_DRUG_PRODUCTSoapIn">
    <wsdl:part name="parameters" element="tns:XML_SEARCH_DRUG_PRODUCT" />
  </wsdl:message>
  <wsdl:message name="XML_SEARCH_DRUG_PRODUCTSoapOut">
    <wsdl:part name="parameters" element="tns:XML_SEARCH_DRUG_PRODUCTResponse" />
  </wsdl:message>
  <wsdl:message name="XML_SEARCH_DRUG_PRODUCT_ALLSoapIn">
    <wsdl:part name="parameters" element="tns:XML_SEARCH_DRUG_PRODUCT_ALL" />
  </wsdl:message>
  <wsdl:message name="XML_SEARCH_DRUG_PRODUCT_ALLSoapOut">
    <wsdl:part name="parameters" element="tns:XML_SEARCH_DRUG_PRODUCT_ALLResponse" />
  </wsdl:message>
  <wsdl:message name="XML_GET_DRUG_ESUBSoapIn">
    <wsdl:part name="parameters" element="tns:XML_GET_DRUG_ESUB" />
  </wsdl:message>
  <wsdl:message name="XML_GET_DRUG_ESUBSoapOut">
    <wsdl:part name="parameters" element="tns:XML_GET_DRUG_ESUBResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_DRUGSoap">
    <wsdl:operation name="XML_SEARCH_DRUG_LCN">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ใบอนุญาตยา</wsdl:documentation>
      <wsdl:input message="tns:XML_SEARCH_DRUG_LCNSoapIn" />
      <wsdl:output message="tns:XML_SEARCH_DRUG_LCNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XML_SEARCH_DRUG_PRODUCT">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ทะเบียนยา</wsdl:documentation>
      <wsdl:input message="tns:XML_SEARCH_DRUG_PRODUCTSoapIn" />
      <wsdl:output message="tns:XML_SEARCH_DRUG_PRODUCTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XML_SEARCH_DRUG_PRODUCT_ALL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">รวมทุกผลิตภัณฑ์รหัส_U</wsdl:documentation>
      <wsdl:input message="tns:XML_SEARCH_DRUG_PRODUCT_ALLSoapIn" />
      <wsdl:output message="tns:XML_SEARCH_DRUG_PRODUCT_ALLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XML_GET_DRUG_ESUB">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ทะเบียนยา+สาร</wsdl:documentation>
      <wsdl:input message="tns:XML_GET_DRUG_ESUBSoapIn" />
      <wsdl:output message="tns:XML_GET_DRUG_ESUBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_DRUGSoap" type="tns:WS_DRUGSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="XML_SEARCH_DRUG_LCN">
      <soap:operation soapAction="http://tempuri.org/XML_SEARCH_DRUG_LCN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XML_SEARCH_DRUG_PRODUCT">
      <soap:operation soapAction="http://tempuri.org/XML_SEARCH_DRUG_PRODUCT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XML_SEARCH_DRUG_PRODUCT_ALL">
      <soap:operation soapAction="http://tempuri.org/XML_SEARCH_DRUG_PRODUCT_ALL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XML_GET_DRUG_ESUB">
      <soap:operation soapAction="http://tempuri.org/XML_GET_DRUG_ESUB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_DRUGSoap12" type="tns:WS_DRUGSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="XML_SEARCH_DRUG_LCN">
      <soap12:operation soapAction="http://tempuri.org/XML_SEARCH_DRUG_LCN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XML_SEARCH_DRUG_PRODUCT">
      <soap12:operation soapAction="http://tempuri.org/XML_SEARCH_DRUG_PRODUCT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XML_SEARCH_DRUG_PRODUCT_ALL">
      <soap12:operation soapAction="http://tempuri.org/XML_SEARCH_DRUG_PRODUCT_ALL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XML_GET_DRUG_ESUB">
      <soap12:operation soapAction="http://tempuri.org/XML_GET_DRUG_ESUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_DRUG">
    <wsdl:port name="WS_DRUGSoap" binding="tns:WS_DRUGSoap">
      <soap:address location="http://regis.fda.moph.go.th/WS_XML_CENTER/WS_XML_CEN/WS_DRUG.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_DRUGSoap12" binding="tns:WS_DRUGSoap12">
      <soap12:address location="http://regis.fda.moph.go.th/WS_XML_CENTER/WS_XML_CEN/WS_DRUG.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>