WS_DRUG/Web References/DRUG_INSERT_DR/WS_DRUG.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DRUG_INSERT_LICEN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IDA_dalcn" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DRUG_INSERT_LICENResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DRUG_INSERT_LICENResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DRUG_UPDATE_LICEN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IDA_dalcn" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DRUG_UPDATE_LICENResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DRUG_UPDATE_LICENResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DRUG_INSERT_DR15">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IDA_DH15" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DRUG_INSERT_DR15Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DRUG_INSERT_DR15Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DRUG_UPDATE_DH15">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IDA_DH15" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DRUG_UPDATE_DH15Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DRUG_UPDATE_DH15Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DRUG_INSERT_DR15_DEMO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phm15dgt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DRUG_INSERT_DR15_DEMOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DRUG_INSERT_DR15_DEMOResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DRUG_INSERT_DR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvncd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rgttpcd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="drgtpcd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rgtno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DRUG_INSERT_DRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DRUG_INSERT_DRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DRUG_UPDATE_DR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvncd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rgttpcd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="drgtpcd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rgtno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DRUG_UPDATE_DRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DRUG_UPDATE_DRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DRUG_DELETE_DR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvncd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rgttpcd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="drgtpcd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rgtno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DRUG_DELETE_DRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DRUG_DELETE_DRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DRUG_INSERT_LICENSoapIn">
    <wsdl:part name="parameters" element="tns:DRUG_INSERT_LICEN" />
  </wsdl:message>
  <wsdl:message name="DRUG_INSERT_LICENSoapOut">
    <wsdl:part name="parameters" element="tns:DRUG_INSERT_LICENResponse" />
  </wsdl:message>
  <wsdl:message name="DRUG_UPDATE_LICENSoapIn">
    <wsdl:part name="parameters" element="tns:DRUG_UPDATE_LICEN" />
  </wsdl:message>
  <wsdl:message name="DRUG_UPDATE_LICENSoapOut">
    <wsdl:part name="parameters" element="tns:DRUG_UPDATE_LICENResponse" />
  </wsdl:message>
  <wsdl:message name="DRUG_INSERT_DR15SoapIn">
    <wsdl:part name="parameters" element="tns:DRUG_INSERT_DR15" />
  </wsdl:message>
  <wsdl:message name="DRUG_INSERT_DR15SoapOut">
    <wsdl:part name="parameters" element="tns:DRUG_INSERT_DR15Response" />
  </wsdl:message>
  <wsdl:message name="DRUG_UPDATE_DH15SoapIn">
    <wsdl:part name="parameters" element="tns:DRUG_UPDATE_DH15" />
  </wsdl:message>
  <wsdl:message name="DRUG_UPDATE_DH15SoapOut">
    <wsdl:part name="parameters" element="tns:DRUG_UPDATE_DH15Response" />
  </wsdl:message>
  <wsdl:message name="DRUG_INSERT_DR15_DEMOSoapIn">
    <wsdl:part name="parameters" element="tns:DRUG_INSERT_DR15_DEMO" />
  </wsdl:message>
  <wsdl:message name="DRUG_INSERT_DR15_DEMOSoapOut">
    <wsdl:part name="parameters" element="tns:DRUG_INSERT_DR15_DEMOResponse" />
  </wsdl:message>
  <wsdl:message name="DRUG_INSERT_DRSoapIn">
    <wsdl:part name="parameters" element="tns:DRUG_INSERT_DR" />
  </wsdl:message>
  <wsdl:message name="DRUG_INSERT_DRSoapOut">
    <wsdl:part name="parameters" element="tns:DRUG_INSERT_DRResponse" />
  </wsdl:message>
  <wsdl:message name="DRUG_UPDATE_DRSoapIn">
    <wsdl:part name="parameters" element="tns:DRUG_UPDATE_DR" />
  </wsdl:message>
  <wsdl:message name="DRUG_UPDATE_DRSoapOut">
    <wsdl:part name="parameters" element="tns:DRUG_UPDATE_DRResponse" />
  </wsdl:message>
  <wsdl:message name="DRUG_DELETE_DRSoapIn">
    <wsdl:part name="parameters" element="tns:DRUG_DELETE_DR" />
  </wsdl:message>
  <wsdl:message name="DRUG_DELETE_DRSoapOut">
    <wsdl:part name="parameters" element="tns:DRUG_DELETE_DRResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_DRUGSoap">
    <wsdl:operation name="DRUG_INSERT_LICEN">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">INSERT_LICENSE_DRUG</wsdl:documentation>
      <wsdl:input message="tns:DRUG_INSERT_LICENSoapIn" />
      <wsdl:output message="tns:DRUG_INSERT_LICENSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DRUG_UPDATE_LICEN">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">UPDATE_LICENSE_DRUG</wsdl:documentation>
      <wsdl:input message="tns:DRUG_UPDATE_LICENSoapIn" />
      <wsdl:output message="tns:DRUG_UPDATE_LICENSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DRUG_INSERT_DR15">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">INSERT_DR15</wsdl:documentation>
      <wsdl:input message="tns:DRUG_INSERT_DR15SoapIn" />
      <wsdl:output message="tns:DRUG_INSERT_DR15SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DRUG_UPDATE_DH15">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">UPDATE_DH15</wsdl:documentation>
      <wsdl:input message="tns:DRUG_UPDATE_DH15SoapIn" />
      <wsdl:output message="tns:DRUG_UPDATE_DH15SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DRUG_INSERT_DR15_DEMO">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">INSERT_DR15_DEMO</wsdl:documentation>
      <wsdl:input message="tns:DRUG_INSERT_DR15_DEMOSoapIn" />
      <wsdl:output message="tns:DRUG_INSERT_DR15_DEMOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DRUG_INSERT_DR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">INSERT_DR_ESUB</wsdl:documentation>
      <wsdl:input message="tns:DRUG_INSERT_DRSoapIn" />
      <wsdl:output message="tns:DRUG_INSERT_DRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DRUG_UPDATE_DR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">UPDATE_DR_ESUB</wsdl:documentation>
      <wsdl:input message="tns:DRUG_UPDATE_DRSoapIn" />
      <wsdl:output message="tns:DRUG_UPDATE_DRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DRUG_DELETE_DR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">UPDATE_DR_ESUB</wsdl:documentation>
      <wsdl:input message="tns:DRUG_DELETE_DRSoapIn" />
      <wsdl:output message="tns:DRUG_DELETE_DRSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_DRUGSoap" type="tns:WS_DRUGSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DRUG_INSERT_LICEN">
      <soap:operation soapAction="http://tempuri.org/DRUG_INSERT_LICEN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DRUG_UPDATE_LICEN">
      <soap:operation soapAction="http://tempuri.org/DRUG_UPDATE_LICEN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DRUG_INSERT_DR15">
      <soap:operation soapAction="http://tempuri.org/DRUG_INSERT_DR15" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DRUG_UPDATE_DH15">
      <soap:operation soapAction="http://tempuri.org/DRUG_UPDATE_DH15" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DRUG_INSERT_DR15_DEMO">
      <soap:operation soapAction="http://tempuri.org/DRUG_INSERT_DR15_DEMO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DRUG_INSERT_DR">
      <soap:operation soapAction="http://tempuri.org/DRUG_INSERT_DR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DRUG_UPDATE_DR">
      <soap:operation soapAction="http://tempuri.org/DRUG_UPDATE_DR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DRUG_DELETE_DR">
      <soap:operation soapAction="http://tempuri.org/DRUG_DELETE_DR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_DRUGSoap12" type="tns:WS_DRUGSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DRUG_INSERT_LICEN">
      <soap12:operation soapAction="http://tempuri.org/DRUG_INSERT_LICEN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DRUG_UPDATE_LICEN">
      <soap12:operation soapAction="http://tempuri.org/DRUG_UPDATE_LICEN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DRUG_INSERT_DR15">
      <soap12:operation soapAction="http://tempuri.org/DRUG_INSERT_DR15" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DRUG_UPDATE_DH15">
      <soap12:operation soapAction="http://tempuri.org/DRUG_UPDATE_DH15" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DRUG_INSERT_DR15_DEMO">
      <soap12:operation soapAction="http://tempuri.org/DRUG_INSERT_DR15_DEMO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DRUG_INSERT_DR">
      <soap12:operation soapAction="http://tempuri.org/DRUG_INSERT_DR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DRUG_UPDATE_DR">
      <soap12:operation soapAction="http://tempuri.org/DRUG_UPDATE_DR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DRUG_DELETE_DR">
      <soap12:operation soapAction="http://tempuri.org/DRUG_DELETE_DR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_DRUG">
    <wsdl:port name="WS_DRUGSoap" binding="tns:WS_DRUGSoap">
      <soap:address location="http://archive.fda.moph.go.th/WS_DRUG_UPDATE_LCN/WS_DRUG_LCN/WS_DRUG.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_DRUGSoap12" binding="tns:WS_DRUGSoap12">
      <soap12:address location="http://archive.fda.moph.go.th/WS_DRUG_UPDATE_LCN/WS_DRUG_LCN/WS_DRUG.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>